body {
    background-color: rgb(245, 243, 243);
}

a {
    cursor: pointer;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.data-container {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    padding-bottom: 50px;
    width: 750px;
    height: 100%;
    border:10px;
    /* overflow-y: scroll;
    float: left;
    position: absolute; */
    
}

.title-container {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
    color: rgb(67, 103, 150);
}

.category-container {
    margin-top: 100px;
    margin-right: 20px;
    float: right;
    width: 380px;
    position: fixed;
    right: 0;
 
}

.card-header {
    background-color: rgb(225, 227, 230);
    font-size: 20px;
    font-weight: bold;
}

.card-with-shadow {
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.category-list {
    display: flex;  
}

.category-items {
    list-style-type: none;
    font-size: 18px;
}

.category-item {
    margin-top: 5px;
    font-weight: bold;
}

.category-item:hover {
    color: rgb(67, 103, 150);
}

/* ::-webkit-scrollbar {
    width: 0px; } */
