{% extends "admin.html" %}

{% block admin_workspace %}

<div class="logout-container">
    <p class="admin-username">{{ admin_name }}</p>
    <a href="/admin-logout">
        <button type="button" class="btn btn-secondary logout-button">Log out</button>
    </a>
</div>

<div class="workspace-main-container">

    <div class="add-book-button-container">
        <button type="button" class="btn btn-success add-book-button">Add book</button>
    </div>
    
    <div class="workspace-table-container">
        <table id="bookDataTable" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>File</th>
                    <th>Added date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in books %}
                    <tr class="table-row">
                        <td>{{ i.title }}</td>
                        <td>{{ i.author }}</td>
                        <td>{{ i.description }}</td>
                        <td>{{ i.category }}</td>
                        <td>{{ i.img_name }}</td>
                        <td>{{ i.file_name }}</td>
                        <td>{{ i.added_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
           
        </table>
    </div>
</div>


{% endblock %}

