{% extends "admin.html" %}

{% block admin_workspace %}


<form class="admin-book-container" enctype="multipart/form-data" method="post">

    <div class="title-container">
        Add Book
    </div>

    <div class="admin-book-alert-container">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                <!-- Do something with the message -->
                    <div class="alert alert-warning" role="alert">
                        {{ messages[0] }}
                    </div>
                    {% endfor %}
                {% endif %}
        {% endwith %}
    </div>
    
    <div class="admin-input-container">
        <div class="book-input-group1">

            <input class="form-control admin-login-input" id="bookTitleInput" type="text" name="book_title" 
            placeholder="Title" required>

            <input class="form-control admin-login-input" id="bookAuthorInput" type="text" name="book_author" 
            placeholder="Author" required>
            <div class="mb-3" style="margin-top: 10px;">
                <textarea class="form-control" id="bookDescriptionInput" name="book_description" rows="7" 
                placeholder="Description" required></textarea>
            </div>
        </div>

        <div class="book-input-group2">
            <select class="form-select" aria-placeholder="Category" id="bookCategoryInput" name="book_category" style="margin-top: 15px;" required>
                <option value="">Category</option>
                <option value="Science">Science</option>
                <option value="Literature">Literature</option>
                <option value="Language">Language</option>
                <option value="Business">Business</option>
                <option value="Programming">Programming</option>
                <option value="Self development">Self development</option>
            </select>
            <div class="mb-3" style="margin-top: 15px;">
                <label for="formFile" class="form-label">Upload image of book</label>
                <input class="form-control" type="file" name="book_img" accept=".jpg, .png, .jpeg, .gif" required>
            </div>
            <div class="mb-3" style="margin-top: 10px;">
                <label for="formFile" class="form-label">Upload book in pdf format</label>
                <input class="form-control" type="file" name="book_file" accept=".pdf" required>
            </div> 
            <div class="admin-book-button-container">
            
                <a href="/admin">
                    <button id="cancelBookButton" type="button" class="btn btn-warning admin-book-button">Cancel</button>
                </a>
                <button class="btn btn-success admin-book-button" type="submit">Save</button>
                
            </div>
        </div>
    </div>

</form>
<!-------------------------------------------------------------------------------->


{% endblock %}
