.popup-window-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.workspace-main-container {
    width: 90%;
    margin: 100px auto;
}

.logout-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 30px;
}

.delete-book-container {
    width: 40%;
    height: 30%;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
}

.admin-username {
    font-size: 18px;
    font-weight: bold;
    color: rgb(67, 103, 150);
    margin: auto 0px;
    margin-right: 10px;
}

.logout-button {
    height: 40px;
    margin: auto 0px;
}

.add-book-button-container {
    display: flex;
    justify-content: right;
}

.workspace-table-container {
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}

.table-row {
    font-size: 14px;
}

.download-link {
    text-decoration: none;
}
