.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
  }

  .popup-overlay:target {
    visibility: visible;
    opacity: 1;
  }
  

.popup-window-container {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    transition: all 5s ease-in-out;
    margin: 80px auto;
    width: 70%;
}

.admin-work-alert-container {
    width: 400px;
}

.workspace-main-container {
    width: 90%;
    margin: 90px auto;
}

.logout-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    padding-right: 30px;
}

.admin-username {
    font-size: 18px;
    font-weight: bold;
    color: rgb(67, 103, 150);
    margin: auto 0px;
    margin-right: 10px;
}

.logout-button {
    height: 40px;
    margin: auto 0px;
}

.workspace-table-top-part {
    display: flex;
    justify-content: space-between;
}

.workspace-table-container {
    margin-top: 10px;
    background-color: white;
    padding: 20px;
}

.table-row {
    font-size: 14px;
}

.download-link {
    text-decoration: none;
}
