{% extends "index.html" %}

{% block data_container %}
  <div class="title-container" style="margin-left: 10px;">
    About
  </div>
  
  <div class="about-text-container">
    This is <b>"jBooks"</b> - online book website. Here you can find and download books in different categories. 
    What you need is searching it by category or directly by the name.
    <br>
    <br>
    This is only beginning. As time passes, we continue develop the website by adding new materials, functionalities etc.
    <br>
    <br>
    If you have any questions or ideas feel free to contact us! 
  </div>
{% endblock %}
