{% extends "index.html" %}

{% block data_container %}
  <div class="title-container" style="margin: 10px; font-weight: bold;">
    Books
  </div>
  {% for i in books %}
    {% for j in i %}
      <div class="book-container">
        <div class="card mb-3" style="max-width: 800px; padding: 5px;">
          <div class="row g-0">
            <div class="col-md-4 book-image-container">
              <img src="data:;base64,{{ j['img'] }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{j['title']}}</h5>
                <p class="card-text">{{ j['description'] }}</p>
                <div class="card-author-container">
                  <p class="card-text">Author:</p>
                  <p class="card-text card-author-text">{{j['author']}}</p>
                </div>
                <a href="/download-file/{{ j['id'] }}">
                  <button type="button" class="btn btn-outline-success">Download</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
  
{% endblock %}